<configuration>
  <system.webServer>

    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
      <remove name="WebDAV" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="api">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
	
	<iisnode node_env="development" />
	
	<httpErrors existingResponse="PassThrough" />
	
	<security>
		<requestFiltering>
			<requestLimits maxAllowedContentLength="2147483648" />
		</requestFiltering>
	</security>
	
  </system.webServer>

 <appSettings>

    <!-- API Base Href -->
    <add key="API_BASE_HREF" value=" " />


    <!-- OAuth SERVER Userinfo Endpoint -->
    <add key="OAUTH_USERINFO_ENDPOINT" value="https://mylogin.amat.com:8080/idp/userinfo.openid" />


    <!-- API ID and SECRET -->
    <add key="API_SECRET_KEY" value="ihatecomplexcoding" />
	
	
    <add key="API_BASIC_AUTH_USERNAME" value="9ae0f32f664d5f18ab211fa659dc2367" />
    <add key="API_BASIC_AUTH_PASSWORD" value="86e6ecc075cb6fab7441868cd8fe9e2c" />

    <!--NODE-MSSQL CONNECTION CONFIG SETTINGS -->
    <add key="MSSQL_DB_LOGIN_USERNAME" value ="AmatG3MapperV2app"/>
    <add key="MSSQL_DB_LOGIN_PASSWORD" value ="Amat@2019"/>
    <add key="MSSQL_SERVER_HOST" value ="localhost"/>
    <add key="MSSQL_DB_NAME" value ="AmatG3MapperV2AppDbDEV"/>
    <add key="MSSQL_CONNECTION_MAX_POOL" value = "100"/>
    <add key="MSSQL_CONNECTION_TIMEOUT" value = "30000"/>
    <add key="MSSQL_REQUEST_TIMEOUT" value = "30000"/>
	
    <!-- Logging Level -->
    <add key="APPLICATION_LOG_LEVEL" value="trace"/>
	
	  <!-- Client-Assets base Uri (for phase 1, it's manual since there's no admin portal) -->
    <add key="CLIENT_ASSETS_BASE_URI" value="https://www.digitaas.io/amat/beamplatform/dev/client-assets/"/>

  </appSettings>
</configuration>
