<!-- <mat-sidenav-container  style="top:0;bottom:0;left:0;right:0;"
  autosize  fxFlex="1 1 auto">

    <mat-sidenav #drawer mode="side"  opened role="navigation" >
      <mat-nav-list>
        <a mat-list-item routerLink='chambers' [routerLinkActive]="['matlistitem-is-active']">Chambers</a>
        <a mat-list-item routerLink='customers' [routerLinkActive]="['matlistitem-is-active']">Customers</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content >
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container> -->

<!-- <nav mat-tab-nav-bar>
  <a mat-tab-link (click)="navigateToChambersPage()" [ngClass]="{'mat-nav-bar-item-is-active': currentSelectedTab == 'chambers'}">
    Chambers 
  </a>

  <a mat-tab-link (click)="navigateToCustomersPage()" [ngClass]="{'mat-nav-bar-item-is-active': currentSelectedTab == 'customers'}">
    Customers
  </a>
</nav>

<router-outlet></router-outlet> -->